[Unit]
Description=Geth

[Service]
Type=simple
User=root
Group=root
Environment=/home/blazo/EthDev/GethComande
Restart=always
RestartSec=60
ExecStart=/home/blazo/EthDev/GethComande/FN1.sh

[Install]
WantedBy=default.target
